<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>CODE Store Signup Form</title>
<link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="navbar">
        <a href="https://katieortiz.github.io/COMP380-CODE/home">Home</a>
        <a href="https://katieortiz.github.io/COMP380-CODE/login">Login</a>
        <a href="https://katieortiz.github.io/COMP380-CODE/signup">Signup</a>
        <a href="https://katieortiz.github.io/COMP380-CODE/cart" class="right">Cart</a>
    </div>

    <div align="center">
      <h1>User Signup</h1>
      <form action="#" th:action="@{/signup}" method="post" th:object="${user}">
        <div>
        <label class="flabel">Full name:</label>
        <input type="text" th:field="*{name}" /><br/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full name error</span>
        </div>
        
        <div>
        <label class="flabel">E-mail:</label>
        <input type="text" th:field="*{email}" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail error</span>
        </div>
        
        <div>		
        <label class="flabel">Password:</label>
        <input type="password" th:field="*{password}" />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
        </div>
  
        <div>
        <label class="flabel">Birthday:</label>
        <input type="date" th:field="*{birthday}" />
        <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday error</span>
        </div>
        
        <div>
        <label class="flabel">Profession:</label>
        <select th:field="*{profession}">
          <option th:each="p : ${listProfession}" th:value="${p}" th:text="${p}" />
        </select>
        <span th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}">Profession error</span>
        </div>
     
        <div>
        <label class="flabel">Note:</label>
        <textarea rows="5" cols="25" th:field="*{note}"></textarea>
        <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Note error</span>
        </div>
        
        <div>
          <div></div>
          <div><button type="submit">Signup</button></div>
          <div></div>
        </div>		
      </form>
    </div>

    <div class="bottomnavbar">
        <a href="https://katieortiz.github.io/COMP380-CODE/about">About</a>
        <a href="https://katieortiz.github.io/COMP380-CODE/faq">FAQ</a>
        <a href="https://katieortiz.github.io/COMP380-CODE/contact">Contact</a>
    </div>
</body>
</html>
