<!DOCTYPE html>
<html lang="en">
<head>
<title>CODE Store Cart</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<script src="https://kit.fontawesome.com/35afca83d3.js" crossorigin="anonymous"></script>

</head>
<body>  
  <div class="navbar">
    <a href="/home">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/cart" class="right">
      <i class="fa-lg fa-solid fa-cart-shopping"></i> Cart
    </a>
  </div>

  <div class="main">
    <h1 style="font-family: Lucida Handwriting; color: white;">Checkout</h1>
    
    <h2 style="font-family: Lucida Handwriting; color: white;">Order Summary</h2>

    <button class="orderbutton" onclick="confirmationFunction()"><b>Place Order</b></button>

    <script>

      //This function asks the customer to confirm that they want to place their order
      function confirmationFunction() {
        if (confirm("Press OK to place your order!")) {
          orderPlaced();
        } else {
          
        }
      }

      //This function confirms that the order was placed successfully, sends the email confirmation with order details, and redirects the user to the home page
      function orderPlaced() {
        alert("Your order was placed successfully!", location.href = "/home") //email functionality will go here
      }
 
      </script>
    </div>

  <div class="bottomnavbar">
    <a href="/about" class="active">About</a>
    <a href="/faq">FAQ</a>
    <a href="/contact">Contact</a>
  </div>
</body>
</html>