<!DOCTYPE html>
<html lang="en">
<head>
<title>CODE Store Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<script src="https://kit.fontawesome.com/35afca83d3.js" crossorigin="anonymous"></script>

</head>
<body>
  <div class="header">
    <h1 style="font-family: Lucida Handwriting;">Welcome to the CODE Store!</h1>
    <p style="font-family: MV Boli;"><b>Here on the CODE store, you will be able to browse the various items that are available to purchase!</b></p>
  </div>
  
  <div class="navbar">
    <a href="/home">Home</a>
    <a href="/products">Products</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/cart" class="right">
      <div class="cart">
        <i class="fa-lg fa-solid fa-cart-shopping"></i>
        <div id="cartAmount" class="cartAmount">0</div>
      </div>
    </a>
  </div>

  <div class="main">
    <div style="text-align: center;">
      <h1 style="font-family: Lucida Handwriting;color: white;" ><b>Newly Added Items</b></h1>
    </div>
    
    <div class ="sliderbody">
      <div class ="slider">
          <div class ="slides">
          
              <!--buttons start here-->
              <input type="radio" name="radio-btn" id="radio1">
              <input type="radio" name="radio-btn" id="radio2">
              <input type="radio" name="radio-btn" id="radio3">
              <input type="radio" name="radio-btn" id="radio4">
              
              
              <!--slide images start-->
              <div class = "slide first">
                <img src="hat2.jpg" alt="">
              </div>
              <div class="slide">
                  <img src="pants2.jpg" alt="">
              </div>
              <div class="slide">
                  <img src="shoe2.jpg" alt="">
              </div>
              <div class="slide">
                  <img src="starwars2.jpg" alt="">
              </div>
            
              
              <!--automatic navigation start-->
              <div class="navigation-auto">
                  <div class="auto-btn1"></div>
                  <div class="auto-btn2"></div>
                  <div class="auto-btn3"></div>
                  <div class="auto-btn4"></div>
              </div>
          </div>
          <!--manual navigation start-->
          <div class="navigation-manual">
              <label for="radio1" class="manual-btn"></label>
              <label for="radio2" class="manual-btn"></label>
              <label for="radio3" class="manual-btn"></label>
              <label for="radio4" class="manual-btn"></label>
          </div>
      </div>
    
      <script type="text/javascript">
      var counter = 1;
      setInterval(function(){
          document.getElementById('radio' + counter).checked = true;
          counter++;
          if(counter>4){
              counter = 1;
              
          }
      }, 5000);
      </script>
    </div>

    <div style="text-align: center;">
      <h1 style="font-family: Lucida Handwriting;color: white;"><b>Items for You</b></h1>
    </div>

    <!-- class: for targeting CSS, id: for targeting js -->
    <div class="shop" id="shop">
      <div class="row">
        
      </div>
    </div> 

  </div>

  <div class="bottomnavbar">
    <a href="/about" class="active">About</a>
    <a href="/faq">FAQ</a>
    <a href="/contact">Contact</a>
  </div>

  <!-- Data.js -->
  <script>
    let shopItemsData = [
      {
        id: "item1",
        name: "Pants [Blue]",
        price: 60,
        shipping: 4.99,
        desc: "Slim Dress Pants",
        details: "<b> ***Details for Pants [Blue]*** <br><br> A classic pant look built for maximum comfort and style <br><br> Size: 34 <br><br> Price: $60.00 + $4.99 shipping <br><br></b>",
        img: "pants.jpg"  
      },
      {
        id: "item2",
        name: "Star Wars Shirt",
        price: 30,
        shipping: 3.99,
        desc: "Cool Classic Star Wars Shirt",
        details: "<b> ***Details for Star Wars Shirt*** <br><br> Show your allegiance to the Galactic Empire with this comfy t-shirt <br><br> Size: L <br><br> Price: $30.00 + $3.99 shipping <br><br></b>",
        img: "starwars.jpg"
      },
      {
        id: "item3",
        name: "Shoes [Blue]",
        price: 50,
        shipping: 5.99,
        desc: "Easy Slip-On Shoes",
        details: "<b> ***Details for Easy Slip-On Shoes*** <br><br> Houses for your feet <br><br> Size: 9 <br><br> Price: $50.00 + $5.99 shipping <br><br></b>",
        img: "shoe.jpg"
      },
      {
        id: "item4",
        name: "Hat [Brown]",
        price: 45,
        shipping: 7.99,
        desc: "Western Style Classic Cowboy Hat",
        details: "<b> ***Details for Hat [Brown]*** <br><br> The perfect accessory to wear every day for casual wear or for a costume party <br><br> Size: Unisex <br><br> Price: $45.00 + $7.99 shipping <br><br></b>",
        img: "hat.jpg"
      },
    ];
  </script>

  <!-- main.js -->
  <script>
  
    // Use to target <div class="shop" id="shop">
    let shop = document.getElementById("shop");

    console.log(shop);

    let basket = JSON.parse(localStorage.getItem("data")) || [];

    let generateShop = () => {
      return (shop.innerHTML= shopItemsData.map((x)=>{
        let {id, name, price, desc, details, img} = x;
        let search = basket.find((x)=>x.id === id) || []; // || ->  or return nothing
        return `
        <div class="column">
          <div class="card">
            <div id=product-id-${id} class="item">
              <img src= ${img} alt="Avatar" style="width:100%">
              <h4 style="font-family: MV Boli;"><b>${name}</b></h4> 
              <p style="font-family: MV Boli;">${desc}</p>
              <p>$${price}</p> 
              <div>
                <details>
                  <summary style="font-family: MV Boli;"><b>Click here for item details</b></summary>
                  <p>${details}</p>
                </details>
              </div>
          
              <br><br>
              <div class="addCartButton">
                <button class="button" onclick="increment(${id})">Add to Cart</button>
                <br><br>
                <button class="button" onclick="decrement(${id})">Decrement</button>
                <div id=${id} class="quantity">
                  ${search.item === undefined ? 0 : search.item}
                </div>
              </div>
            </div>
          </div>
        </div>
      `;
      })
      .join(""));
    };
 

    generateShop();

    let increment = (id) => {
      let selectedItem = id;
      let search = basket.find((x) => x.id === selectedItem.id);

      if (search === undefined) {
        basket.push({
          id: selectedItem.id,
          item: 1,
        });
      } else {
        search.item += 1;
      }
      localStorage.setItem("data", JSON.stringify(basket));
      // console.log(basket);
      update(selectedItem.id);
    };

    let decrement = (id) => {
      let selectedItem = id;
      let search = basket.find((x) => x.id === selectedItem.id);

      if (search === undefined) return;
      else if (search.item === 0) return;
      else {
        search.item -= 1;
      }
      
      update(selectedItem.id);
      basket = basket.filter((x) => x.item !== 0);
      console.log(basket);
      localStorage.setItem("data", JSON.stringify(basket));
    };

    let update = (id) => {
      let search = basket.find((x) => x.id === id);
      // console.log(search); // This function gives "id: " and "item: "
      // console.log(search.item);
      document.getElementById(id).innerHTML = search.item; // reference to: <div id=${id} class="quantity">0</div>
      calculation();
    };

    let calculation = () => {
      let cartIcon = document.getElementById("cartAmount");
      cartIcon.innerHTML = basket.map((x) => x.item).reduce((x, y) => x + y, 0);
    };

    // Every time application loads, calculation() will run regardless
    // Prevent un-updated item amount on cart-icon will page gets refresh
    calculation();
  </script>

</body>
<!-- <script src="Data.js"></script> -->
<!-- <script src="main.js"></script> -->
</html>