<html>
    <head>
    <link rel="stylesheet" href="style.css">
    <style>
        body, html, table {
            font-family: Calibri, Arial, sans-serif;
        }

        table {
            border: 1px solid silver;
            padding: 6px;
        }
        thead {
            text-align: center;
            font-size: 1.2em;
            color: navy;
            background-color: silver;
            font-weight: bold;
        }
        tbody td {
            text-align: center;
        }
    </style>
    </head>
    <body>
    <table width=100%>
        <tr>
            <td align="center"><h1 style="font-family: Lucida Handwriting; color: white;">Order Confirmation</h1></td>
        </tr>
    </table>
    <table width=100%>
        <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Item Price</th>
        </thead>
        <tbody>
        <tr>
            <td>OU812</td>
            <td>9</td>
            <td>$4395.00</td>
        </tr>
        <tr>
            <td>OU812</td>
            <td>9</td>
            <td>$4395.00</td>
        </tr>
        <tr>
            <td>OU812</td>
            <td>9</td>
            <td>$4395.00</td>
        </tr>
        </tbody>
    </table>
    </body>
</html>